<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("./partials/head") %>


<body class="ind-body">
    <!-- Header-->
    <%- include("./partials/header") %>
    <section class="ind-top-test">
    
    <div class="right-content-test">
        <article class="art-3">
        <img src="/images/guarda.png" >
        <p>Cuando abrimos una cerveza <i>CHEC</i>, hecha con Calidad y para todos los gustos, es seguramente porque  estamos disfrutando un momento de placer, solos o acompañados de familia, amigos y anécdotas para compartir. Compartiendo una picada, un asado o una buena comida. Mientras disfrutamos, se pierde noción del tiempo y la sobremesa se hace más extensa.</p>
        <h3> Un aplauso para el anfitrión, y <i>CHEC </i>  te asegura un próximo encuentro... <i class="fas fa-beer"> </i>  </h3>
        </article>
    </div>
    </section>
    <!-- <section class="ind-top">
        <div class="slider">
            <ul>
                <li><img src="/images/presentacion5.png" alt="image slider" class="slider-img"></li>
                <li><img src="/images/presentacion1.png" alt="image slider" class="slider-img"></li>
                <li><img src="/images/presentacion4.png" alt="image slider" class="slider-img"></li>
                <li><img src="/images/presentacion3.png" alt="image slider" class="slider-img"></li>
            </ul>
        </div>  
    </section> -->
    <!-- <section class="ind-middle">
     <div class="left-content">
        <div class="best">
        <div class="art-1">
            <img src="/Desing/Logo-Etiqueta-Originals/480x480original.png" alt="" > 
        </div>
            
         <button class="lg-submit">
         <a href="/productDetail"></a> Productos Destacados 
        </button>
    </div>
    </div>
    <div class="right-content">
            <article class="art-3">
            <img src="/images/guarda.png" >
                <p>Cuando abrimos una cerveza <i>CHEC</i>, hecha con Calidad y para todos los gustos, es seguramente porque  estamos disfrutando un momento de placer, solos o acompañados de familia, amigos y anécdotas para compartir. Compartiendo una picada, un asado o una buena comida. Mientras disfrutamos, se pierde nocion del tiempo y la sobremesa se hace mas extensa.</p>
               <h3> Un aplauso para el anfitrion, y <i>CHEC </i>  te asegura un próximo encuentro... <i class="fas fa-beer"> </i>  </h3>
        
            </article>
        
    </div>
</section> -->
    <section class="bottom-content">
     <%- include('./partials/articles')%>
    </section>
    <div class="testDiv">
        

    </div>


    <!-- Suscribe email-->
    <%- include("./partials/suscribe") %>

    <!-- Footer-->
    <%- include("./partials/footer") %>
</body>
</html>