<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>

    <section class="pd-product-area">
        <div class="pd-product-imgs">
            <img src="/images/img-beer-temporary.jpg" alt="beer">
        </div>
        <div class="pd-product-info">
            <h3>Administracion de Producto</h3>
            <form action="" method="post">
                <ul class="pd-beer-attributes">
                    <li>
                        <h5>Nombre</h5>
                        <p><input type="text" name="nombre" value="<%= nombre %>"></p>
                    </li>
                    <li>
                        <h5>Descripción</h5>
                        <p><input type="text" name="descripcion" value="<%= descripcion%>"></p>
                    </li>
                    <li>
                        <h5>Amargor: </h5>
                        <p><input type="text" name="amargor" value="<%= amargor%>"></p>
                    </li>                  
                    <li>
                        <h5>Alcohol: </h5>
                        <p><input type="text" name="alcohol" value="<%= alcohol%>"></p>
                    </li>
                    <li>
                        <h5>Color: </h5>
                        <p><input type="text" name="color" value="<%= color%> SRM"></p>
                    </li>
                    <li>
                        <h5>Lúpulo/s: </h5>
                        <p><input type="text" name="lupulo" value="<%=lupulo%>"></p>
                    </li>
                    <li>
                        <h5>Gasificación: </h5>
                        <p><input type="text" name="gasificacion" value="<%= gasificacion%>" ></p>
                    </li>
                </ul>
                <div class="pd-options">
                <input type="submit" class="lg-submit" value="Guardar">
                    <input type="reset" class="lg-submit" name="limpiar" value="Limpiar">
                </div>
            </form>
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
</body>

</html>