<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("../partials/head") %>
<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section class="pd-product-area">        
        <div class="pd-product-info">            
                <div class="pc-ResumenCompra">
                    <h3 id="title">Administracion de Producto</h3>
                    <form action="/product/productAdmin/<%= cervezaToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
                        <div class="pd-product-imgs">
                            <img src="/images/<%= cervezaToEdit.image %>" alt="beer">
                        </div>
                        <ul class="lg-form-login rg-form" >
                            <li class='pa-li-element'>
                                <h5>Nombre</h5>
                                <div class="text-danger" id="msgFront_name"> </div>
                                <p><input type="text" name="name" id="name" value="<%=cervezaToEdit.name%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Descripción</h5>
                                <div class="text-danger" id="msgFront_description"> </div>
                                <p><input type="text" name="description" id="description" value="<%=cervezaToEdit.description%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Amargor </h5>
                                <div class="text-danger" id="msgFront_bitterness"> </div>
                                <p><input type="text" name="bitterness" id="bitterness" value="<%=cervezaToEdit.bitterness%>" class='rg-input'></p>
                            </li>                  
                            <li class='pa-li-element'>
                                <h5>Alcohol </h5>
                                <div class="text-danger" id="msgFront_alcohol"> </div>
                                <p><input type="text" name="alcohol" value="<%=cervezaToEdit.alcohol%>" id="alcohol" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Color </h5>
                                <div class="text-danger" id="msgFront_color"> </div>
                                <p><input type="text" name="color" id="color" value="<%=cervezaToEdit.color%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Lúpulo/s </h5>
                                <div class="text-danger" id="msgFront_hop"> </div>
                                <p><input type="text" name="hop" id="hop" value="<%=cervezaToEdit.hop%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Gasificación </h5>
                                <div class="text-danger" id="msgFront_carbonation"> </div>
                                <p><input type="text" name="carbonation" id="carbonation" value="<%=cervezaToEdit.carbonation%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Precio </h5>
                                <div class="text-danger" id="msgFront_price"> </div>
                                <p><input type="text" name="price" id="price" value="<%=cervezaToEdit.price%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Categoría </h5> 
                            <select name="category" >
                                    <% let categories=['Estandar', 'Especial' , 'Merchandising']; %>
                                    <% for (const oneCategory of categories) { %>
                                        <option 
                                            value="<%= oneCategory %>"
                                            <%= locals.oldData && (oneCategory === oldData.oneCategory) ? 'selected' : null %>> <%= oneCategory %> </option>
                                        </option>
                                        <% } %>
                            </select>
                            </li>
        
                        </ul> 
                        <h5>Imagen de Producto</h5>        
                        <input type="file" name="productImage"  class='rg-input'>
                        <input type="text" name="image" id="productImage" style="opacity: 0;" id="inputImg" value="<%=cervezaToEdit.image%>" class='rg-input'>                
                        <div class="text-danger" id="msgFront_image"> </div>
                    <div class="pd-options rg-input">
                        <input type="submit" class="lg-submit" value="Guardar">
                        <input type="reset" class="lg-submit" name="limpiar" value="Limpiar">
                    </div>                
            </form>
            <form action="/product/<%= cervezaToEdit.id %>?_method=DELETE" method="POST">
                <div class="pd-options">
                    <input type="submit" class="lg-submit " value="Eliminar">
                </div>
            </form>  
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
    <script src="/Js/productFront.js"></script>
</body>
=======
<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("../partials/head") %>
<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section class="pd-product-area">        
        <div class="pd-product-info">            
                <div class="pc-ResumenCompra">
                    <h3 id="title">Administracion de Producto</h3>
                    <form action="/product/productAdmin/<%= cervezaToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
                        <div class="pd-product-imgs">
                            <img src="/images/<%= cervezaToEdit.image %>" alt="beer">
                        </div>
                        <ul class="lg-form-login rg-form" >
                            <li class='pa-li-element'>
                                <h5>Nombre</h5>
                                <div class="text-danger" id="msgFront_name"> 
                                    <% if (locals.errors && errors.name) { %>
                                        <%= errors.name.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="name" id="name" value="<%=cervezaToEdit.name%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Descripción</h5>
                                <div class="text-danger" id="msgFront_description"> 
                                    <% if (locals.errors && errors.description) { %>
                                        <%= errors.description.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="description" id="description" value="<%=cervezaToEdit.description%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Amargor </h5>
                                <div class="text-danger" id="msgFront_bitterness">
                                    <% if (locals.errors && errors.bitterness) { %>
                                        <%= errors.bitterness.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="bitterness" id="bitterness" value="<%=cervezaToEdit.bitterness%>" class='rg-input'></p>
                            </li>                  
                            <li class='pa-li-element'>
                                <h5>Alcohol </h5>
                                <div class="text-danger" id="msgFront_alcohol"> 
                                    <% if (locals.errors && errors.alcohol) { %>
                                        <%= errors.alcohol.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="alcohol" value="<%=cervezaToEdit.alcohol%>" id="alcohol" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Color </h5>
                                <div class="text-danger" id="msgFront_color">
                                    <% if (locals.errors && errors.color) { %>
                                        <%= errors.color.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="color" id="color" value="<%=cervezaToEdit.color%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Lúpulo/s </h5>
                                <div class="text-danger" id="msgFront_hop"> 
                                    <% if (locals.errors && errors.hop) { %>
                                        <%= errors.hop.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="hop" id="hop" value="<%=cervezaToEdit.hop%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Gasificación </h5>
                                <div class="text-danger" id="msgFront_carbonation"> 
                                    <% if (locals.errors && errors.carbonation) { %>
                                        <%= errors.carbonation.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="carbonation" id="carbonation" value="<%=cervezaToEdit.carbonation%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Precio </h5>
                                <div class="text-danger" id="msgFront_price">
                                    <% if (locals.errors && errors.price) { %>
                                        <%= errors.price.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="price" id="price" value="<%=cervezaToEdit.price%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Categoría </h5> 
                            <select name="category" >
                                    <% let categories=['Estandar', 'Especial' , 'Merchandising']; %>
                                    <% for (const oneCategory of categories) { %>
                                        <option 
                                            value="<%= oneCategory %>"
                                            <%= locals.oldData && (oneCategory === oldData.oneCategory) ? 'selected' : null %>> <%= oneCategory %> </option>
                                        </option>
                                        <% } %>
                            </select>
                            </li>
        
                        </ul> 
                        <h5>Imagen de Producto</h5>        
                        <input type="file" name="productImage"  id="productImage"  class='rg-input'>
                        <input type="text" name="image" style="opacity: 0;" id="inputImg" value="<%=cervezaToEdit.image%>" class='rg-input'>                
                        <div class="text-danger" id="msgFront_image"> 
                            <% if (locals.errors && errors.productImage) { %>
                                <%= errors.productImage.msg %> 
                            <% } %>
                        </div>
                    <div class="pd-options rg-input">
                        <input type="submit" class="lg-submit" value="Guardar">
                        <input type="reset" class="lg-submit" name="limpiar" value="Limpiar">
                    </div>                
            </form>
            <form action="/product/<%= cervezaToEdit.id %>?_method=DELETE" method="POST">
                <div class="pd-options">
                    <input type="submit" class="lg-submit " value="Eliminar">
                </div>
            </form>  
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
    <script src="/Js/productFront.js"></script>
</body>
>>>>>>> b7e454b6aeaef5944f2341d1e21f31e81be91ddf
</html>