<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>

    <section class="pd-product-area">
        
        <div class="pd-product-info">
            
                <div class="pc-ResumenCompra">
                    <h3 id="title">Creación de Producto</h3>
                    <form action="/product/productAdmin/" method="POST" id="form" enctype="multipart/form-data">
                    <div class="pd-product-imgs">
                        <img src="" alt="beer">
                    </div>
                        <ul class="lg-form-login rg-form" >
                            <li class='pa-li-element'>
                                <h5>Nombre</h5>
                                <div class="text-danger" id="msgFront_name"> </div>
                                <p><input type="text" name="name" id="name"  class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Descripción</h5>
                                <div class="text-danger" id="msgFront_description"> </div>
                                <p><input type="text" name="description" id="description" value="" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Amargor </h5>
                                <div class="text-danger" id="msgFront_bitterness"> </div>
                                <p><input type="text" name="bitterness" id="bitterness" value="" class='rg-input'></p>
                            </li>                  
                            <li class='pa-li-element'>
                                <h5>Alcohol </h5>
                                <div class="text-danger" id="msgFront_alcohol"> </div>
                                <p><input type="text" name="alcohol" id="alcohol" value="" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Color </h5>
                                <div class="text-danger" id="msgFront_color"> </div>
                                <p><input type="text" name="color" id="color" value="" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Lúpulo/s </h5>
                                <div class="text-danger" id="msgFront_hop"> </div>
                                <p><input type="text" name="hop" id="hop" value="" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Gasificación </h5>
                                <div class="text-danger" id="msgFront_carbonation"> </div>
                                <p><input type="text" name="carbonation" id="carbonation" value=""class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Precio </h5>
                                <div class="text-danger" id="msgFront_price"> </div>
                                <p><input type="text" name="price" id="price" value=""class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Categoría </h5> 
                            <select name="category" >
                                    <% let categories=['Estandar', 'Especial' , 'Merchandising']; %>
                                    <% for (const oneCategory of categories) { %>
                                        <option 
                                            value="<%= oneCategory %>"
                                            <%= locals.oldData && (oneCategory === oldData.oneCategory) ? 'selected' : null %>> <%= oneCategory %> </option>
                                        </option>
                                        <% } %>
                            </select>
                            </li>        
                        </ul>        
                        <input type="file" name="product-image" class='rg-input'>
                        <input type="text" name="image" id="productImage" style="opacity: 0;" value="" class='rg-input'>
                        <div class="text-danger" id="msgFront_image"> </div>                
                    <div class="pd-options rg-input">
                        <input type="submit" class="lg-submit" value="Guardar">
                        <input type="reset" class="lg-submit" name="limpiar" value="Limpiar">
                    </div>                
            </form> 
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
    <script src="/Js/productFront.js"></script>
</body>

</html>