<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include("../partials/head") %>
<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section class="pd-product-area">        
        <div class="pd-product-info">            
                <div class="pc-ResumenCompra">
                    <h3 id="title">Administracion de Producto</h3>
                    <form action="/product/productAdmin/<%= cervezaToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
                        <div class="pd-product-imgs">
                            <img src="<%= cervezaToEdit.image %>" alt="beer">
                        </div>
                        <ul class="lg-form-login rg-form" >
                            <li class='pa-li-element'>
                                <h5>Nombre</h5>
                                <div class="text-danger" id="msgFront_name"> 
                                    <% if (locals.errors && errors.name) { %>
                                        <%= errors.name.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="name" id="name" value="<%=cervezaToEdit.name%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Descripción</h5>
                                <div class="text-danger" id="msgFront_description"> 
                                    <% if (locals.errors && errors.description) { %>
                                        <%= errors.description.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="description" id="description" value="<%=cervezaToEdit.description%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Amargor </h5>
                                <div class="text-danger" id="msgFront_bitterness">
                                    <% if (locals.errors && errors.bitterness) { %>
                                        <%= errors.bitterness.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="bitterness" id="bitterness" value="<%=cervezaToEdit.bitterness%>" class='rg-input'></p>
                            </li>                  
                            <li class='pa-li-element'>
                                <h5>Alcohol </h5>
                                <div class="text-danger" id="msgFront_alcohol"> 
                                    <% if (locals.errors && errors.alcohol) { %>
                                        <%= errors.alcohol.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="alcohol" value="<%=cervezaToEdit.alcohol%>" id="alcohol" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Color </h5>
                                <div class="text-danger" id="msgFront_color">
                                    <% if (locals.errors && errors.color) { %>
                                        <%= errors.color.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="color" id="color" value="<%=cervezaToEdit.color%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Lúpulo/s </h5>
                                <div class="text-danger" id="msgFront_hop"> 
                                    <% if (locals.errors && errors.hop) { %>
                                        <%= errors.hop.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="hop" id="hop" value="<%=cervezaToEdit.hop%>" class='rg-input'></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Gasificación </h5>
                                <div class="text-danger" id="msgFront_carbonation"> 
                                    <% if (locals.errors && errors.carbonation) { %>
                                        <%= errors.carbonation.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="carbonation" id="carbonation" value="<%=cervezaToEdit.carbonation%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Precio </h5>
                                <div class="text-danger" id="msgFront_price">
                                    <% if (locals.errors && errors.price) { %>
                                        <%= errors.price.msg %> 
                                    <% } %>
                                </div>
                                <p><input type="text" name="price" id="price" value="<%=cervezaToEdit.price%>"class='rg-input' ></p>
                            </li>
                            <li class='pa-li-element'>
                                <h5>Categoría </h5> 
                            <select name="category" >
                                    <% let categories=['Estandar', 'Especial' , 'Merchandising']; %>
                                    <% for (const oneCategory of categories) { %>
                                        <option 
                                            value="<%= oneCategory %>"
                                            <%= locals.oldData && (oneCategory === oldData.oneCategory) ? 'selected' : null %>> <%= oneCategory %> </option>
                                        </option>
                                        <% } %>
                            </select>
                            </li>
                            <li class='pa-li-element'>
                                <div >
                                    <label><b>Imagen</b></label>
                                    <input type="button" id="btnImage" class="rg-btn-avatar" value="Seleccionar Imagen">
                                    <input type="hidden" name="oldProductImage" id="hiddenProduct" value="<%=cervezaToEdit.image%>">
                                    <img src="<%=cervezaToEdit.image%>" class="rg-img-profile" id="imageProduct" alt="">
                                    <br>
                                </div>       
                            </li>           
                        </ul> 
                        <div class=" rg-form rg-btn-div" >
                            <input type="submit" class="lg-submit" value="Guardar">
                            <input type="reset" class="lg-submit" name="limpiar" value="Limpiar">
                    </form>
                    
                    <div class="rg-btn-div ">
                    <form action="/product/<%= cervezaToEdit.id %>?_method=DELETE" method="POST">
                        <div class=" " >
                            <input type="submit" class="lg-submit " value="Eliminar">
                        </div>
                    </div>
                    </div>                    
           
            </form>  
        </div> 
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">    </script>
    <script src="/Js/widgetCloudinaryProducts.js"></script>
    <script src="/Js/productFront.js"></script>
</body>
</html>