<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    

    <main class="pd-main">
        
        <h2 class="pd-titulo">Tienda</h2>
               <% if (datos.userLogged && datos.userLogged.userRole == "Admin"){ %> 
            <div class="add-receta-container">
                <!-- <div class="pa-div-add-btn">-->
                     <button class="pd-admin ">
                        <a href="/product/productAdmin/0" class="pd-admin-a">Agregar</a>
                    </button>
                <!-- </div>-->
            </div>        
        <%}%>
        <div class="pd-tienda">
             <%- include("../partials/articles") %>
        </div>
        
    </main>
   
    <!-- Suscribe email-->
    <%- include("../partials/suscribe") %>
    
    <!-- Footer-->
    <%- include("../partials/footer") %>

</body>

</html>