<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>

    <section class="pd-product-area">

        <div class="pd-product-imgs">
            <img src="<%= product.image %>" alt="beer">
        </div>

        <div class="pd-product-info">
            <h4><%= product.name %></h4>
            <p><%= product.description %></p>
            <ul class="pd-beer-attributes">
                <li>
                    <h5>Amargor: </h5>
                    <p><%= product.bitterness %></p>
                </li>
                <li>
                    <h5>Alcohol: </h5>
                    <p><%= product.alcohol %></p>
                </li>
                <li>
                    <h5>Color: </h5>
                    <p> <%= product.color %> SRM</p>
                </li>
                <li>
                    <h5>Lúpulo/s: </h5>
                    <p> <%=product.hop %></p>
                </li>
                <li>
                    <h5>Gasificación: </h5>
                    <p> <%= product.carbonation %></p>
                </li>
            </ul>

            <h4>Tu selección</h4>
            <div class="pd-product-form-container">
                <form class="pd-product-form">

                    <div class="pd-quantity">
                        <label class="quantity-label" for="botella500"><input type="checkbox" id="botella500"
                                value="botella500">Lata 500 ml</label>
                        <h5>$ 300</h5>
                        <div class="pd-counter">
                            
                            <input type="number" class="pc-shopping-cart-quantity-input " step="1" min="0" max="50" name="quantity"
                                value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                            
                        </div>
                        
                    </div>
                   
                    <div class="pd-quantity">
                        <label class="quantity-label" for="pack61l"><input type="checkbox" id="pack61l"
                                value="pack61l">Pack x 6 - 500 ml</label>
                        <h5>$ 3500</h5>
                        <div class="pd-counter">
                            
                            <input type="number" class="pc-shopping-cart-quantity-input " step="1" min="0" max="17" name="quantity"
                                value="0" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                            
                        </div>
                    </div>
                </form>
            </div>

           
            <div class="pd-options">
                <button class="pd-buy"><a href="/productCart" class="lg-a">Comprar</a></button>
                <button class="pd-add"><a href="/sales/addShipingCart/<%= product.id %>" class="lg-a">Agregar al carrito</a></button>
            </div>
        </div>
        </div>

    </section>
    </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
</body>

</html>