<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    

    <main class="pd-main">
        <h2 class="pd-titulo">Tienda</h2>
        <section class="pd-tienda">
        <%- include("../partials/articles") %>
    </main>
   
    <!-- Suscribe email-->
    <%- include("../partials/suscribe") %>
    
    <!-- Footer-->
    <%- include("../partials/footer") %>

</body>

</html>