<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body >
	<%- include("../partials/header") %>
	<form action="/users/profile/<%= user.id %> " class="" method="POST" enctype="multipart/form-data">
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="pr-form lg-form rg-input" style="padding:15px 0">
			<div class=" col-md-3">
				<h2>Hola <%= user.name %> </h2>
				<img src="/images/avatars/<%= user.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
				<div>
					
					<button type="submit" class="pd-add " value="Modificar perfil">
						<a href="/users/profile/<%=user.id%>" > Modificar perfil</a>
					</button>
	</form>
				</div>
			</div>
		</div>
		<div style="margin-top:100px"></div>

		
	</div>
	<!-- //Container -->
	
	<%- include('../partials/footer') %>
</body>
</html>