<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <section> 
        <label><h3 id="title">REGISTRO NUEVO USUARIO</h3></label>
        <form action="/users/register" class="rg-form" method="POST" enctype="multipart/form-data" id="formRegister">
            <div>
            <label><b>Nombre *</b></label>
            <br>
            <input 
                type="text" 
                name="name"
                id="name"
                class="rg-input"  <%= locals.errors && errors.name ? 'is-invalid' : null %>
                value="<%= locals.oldData ? oldData.name : null %>">
                <% if (locals.errors && errors.name) { %>
                    <div class="text-danger">
                        <%= errors.name.msg %> 
                    </div>
                <% } %>
                <div class="text-danger" id="msgFront_name"> </div>
            </div>
            <div>
                <label><b>Apellido *</b></label>
                <br>
                <input 
                    type="text"
                    name="lastName" 
                    id="lastName" 
                    class="rg-input"<%= locals.errors && errors.lastName ? 'is-invalid' : null %>
                    value="<%= locals.oldData ? oldData.lastName : null %>">
                    <% if (locals.errors && errors.lastName) { %>
                        <div class="text-danger">
                            <%= errors.lastName.msg %> 
                        </div>
                    <% } %>
                    <div class="text-danger" id="msgFront_lastName"> </div>
            </div>
           <div>
            <label><b>Email *</b></label>
            <br>
            <input 
                type="text" 
                name="email" 
                id="email"
                class="rg-input" <%= locals.errors && errors.email ? 'is-invalid' : null %>
                value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
                <div class="text-danger" id="msgFront_email"> </div>
           </div>
           <div>
            <label><b>Dirección (para envíos) *</b></label>
            <br>
               <input 
                    type="text" 
                    name="address" 
                    id="address" 
                    class="rg-input" <%= locals.errors && errors.address ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.address : null %>">
                    <% if (locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %> 
                        </div>
                    <% } %>
                    <div class="text-danger" id="msgFront_address"> </div>
            </div>
            <div>
                <label><b>Fecha de nacimiento *</b></label>
                <br>
                <input 
                    type="date"
                    name="birthDate" 
                    id="birthDate"
                    class="rg-input" <%= locals.errors && errors.birthDate ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.birthDate : null %>">
                    <div class="text-danger" id="msgFront_birthDate"> 
                    <% if (locals.errors && errors.birthDate) { %>
                            <%= errors.birthDate.msg %> 
                    <% } %>
                    </div>
            </div>
            <div>
                <label><b>Contraseña *</b></label>
                <br>
                <input 
                    type="password" 
                    id="password"
                    name="password" 
                    class="rg-input"<%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.password : null %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                    <div class="text-danger" id="msgFront_password"> </div>
            </div>
            <div>
                <label><b>Confirmá tu contraseña *</b></label>
                <br>
                <input 
                    type="password" 
                    class="rg-input"
                    name="passVerify" 
                    id="passVerify" >
                <% if (locals.errors && errors.passVerify) { %>
                    <div class="text-danger">
                        <%= errors.passVerify.msg %> 
                    </div>
                <% } %>
                <div class="text-danger" id="msgFront_passVerify"> </div>

            </div>
           
                                 
            <div>
                <div >
                    <label><b>Imagen de perfil (opcional)</b></label>
                    <img src="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118673/images/avatars/default_img_wmlytg.png" class="rg-img-profile" id="imageProfile" alt="">
                    <input type="button" id="avatar" class="rg-btn-avatar" value="Seleccionar Imagen">
                    <input type="hidden" name="oldAvatar" id="hiddenAvatar" value="https://res.cloudinary.com/ds0upcco9/image/upload/v1659118673/images/avatars/default_img_wmlytg.png">
                    <br>
                </div>
            </div>
            <p>* Campos requeridos.</p>
            <div class="rg-btn-div rg-input" >
                <input type="submit" name="" id="rg-submit" class="rg-submit">
                <input type="reset" class="rg-reset">
            </div>
            
            <div class="text-danger" id="msgFront_submit"> </div>
        </form>       
    </section>
    <!-- Footer-->
    <%- include("../partials/footer") %>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script moment().format()></script>
    <script src="/Js/widgetCloudinaryUsers.js"></script>
    <script src="/js/registerFront.js"></script>    
</body>
</html>