<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

    <body>
        <!-- Header-->
        <%- include("../partials/header") %>

        <!--PÁGINA AÚN NO TRABAJADA-->
        
            <div class="nr-main-containter">
            <h3>Administracion de Recetas</h3>
            <% if (recetaToEdit.id == 0){%>
                <form action="/receta/recetaAdmin/" method="POST" >
            <%}else{%>
                <form action="/receta/recetaAdmin/<%= recetaToEdit.id %>?_method=PUT" method="POST">
            <%}%>
            
            <h5><%= recetas[2].name %></h5>
                 
                <div class="nr-information-container">
                <div class="nr-information">
                    <h4>Básicos</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Volumen: </h6>
                            <p><%= recetas[2].volume %> lts.</p>
                        </li>
                        <li>
                            <h6>Volumen de hervor: </h6>
                            <p><%= recetas[2].boilvolume %>lts.</p>
                        </li>
                        <li>
                            <h6>Duración del hervor: </h6>
                            <p><%= recetas[2].boilTime %>lts.</p>
                        </li>
                        <li>
                            <h6>Alcohol: </h6>
                            <p><%= recetas[2].alcohol %> %</p>
                        </li>
                        <li>
                            <h6>Densidad final: </h6>
                            <p><%= recetas[2].targetFG %></p>
                        </li>
                        <li>
                            <h6>Densidad inicial: </h6>
                            <p><%= recetas[2].targetOG %></p>
                        </li>
                        <li>
                            <h6>PH inicial: </h6>
                            <p><%= recetas[2].initialPH %></p>
                        </li>
                        <li>
                            <h6>PH final: </h6>
                            <p><%= recetas[2].finalPH %></p>
                        </li>
                        
                    </ul>
                </div>

                <div class="nr-information">
                    <h4>Método y tiempos</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Macerado: </h6>
                            <p><%= recetas[2].mashTemp %>° - <%= recetas[2].mashTime %> min.</p>
                        </li>
                        <li>
                            <h6>Fermentación: </h6>
                            <p><%= recetas[2].fermentationTemp %>°</p>
                        </li>
                    </ul>
                </div>

                <div class="nr-information">
                    <h4>Ingredientes</h4>
                    <ul class="pd-beer-attributes">
                        <li>
                            <h6>Maltas: </h6> </br>
                            <p><%= recetas[2].malt1 %>: <%= recetas[2].malt1Amount %> </p></br>
                            <p><%= recetas[2].malt2 %>: <%= recetas[2].malt2Amount %> </p></br>
                            <p><%= recetas[2].malt3 %>: <%= recetas[2].malt3Amount %> </p></br>
                            <p><%= recetas[2].malt4 %>: <%= recetas[2].malt4Amount %> </p></br>
                            <p><%= recetas[2].malt5 %>: <%= recetas[2].malt5Amount %> </p></br>
                        </li>
                        <li>
                            <h6>Lúpulo/s: </h6>
                            <p><%= recetas[2].hop1 %>: <%= recetas[2].hop1Amount %> <%= recetas[2].hop1Moment %> min.</p></br>
                            <p><%= recetas[2].hop2 %>: <%= recetas[2].hop2Amount %> <%= recetas[2].hop2Moment %></p></br>
                            <p><%= recetas[2].hop3 %>: <%= recetas[2].hop3Amount %> <%= recetas[2].hop3Moment %></p></br>
                        </li>
                        <li>
                            <h6>Levadta: </h6> </br>
                            <p><%= recetas[2].yeast %>: <%= recetas[2].yeastAmount %> gr. </p></br>
                            
                        </li>
                    </ul>
                </div>
                </div>
                <div class="nr-tip-container">
                <div class="nr-tip">
                    <h4>Tip cervecero</h4>
                    <p><%= recetas[2].brewerTip %></p>
                </div>
                <div class="nr-tip">
                    <h4>Maridaje</h4>
                    <p><%= recetas[2].foodPairing %></p>
                </div>
                </div>
            </section>

            </div>

            <!-- Footer-->
            <%- include("../partials/footer") %>
    </body>

</html>