<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
<!-- Header-->
<%- include("../partials/header") %>

            <div class="pd-product-info">
                <h3>Administración de Recetas</h3>
                <% if (recetaToEdit.id==0){%>
                    <form action="/recetasAdmin" method="POST">
                        <%}else{%>
                            <form action="/recetasAdmin/<%= recetaToEdit.id %>?_method=PUT" method="POST">
                                <%}%>

                                    <section class="nr-details-container">
                                        <div class="receta-name-container">
                                            <h5 class="receta-name">
                                                <%= recetaToEdit.name %>
                                            </h5>
                                            <div class="nr-buton-container">
                                                <button class="pd-admin nr-edit"></a>Eliminar receta</a></button>
                                            </div>
                                        </div>

                                        <div id="receta-container<%= recetaToEdit.id %>" class="receta-container">

                                            <div class="nr-buton-container">
                                                <button id="display-hide-btn<%= recetaToEdit.id %>"
                                                    onclick="hide('<%= recetaToEdit.id %>')"
                                                    class="pd-admin">Ocultar <i class="fas fa-chevron-up"></i></button>
                                            </div>
                                            <div class="nr-information-container">
                                                <div class="nr-information-block">
                                                    <div class="nr-information">
                                                        <h4>Básicos</h4>
                                                        <ul class="pd-beer-attributes">
                                                            <li>
                                                                <h6>Volumen: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.volume %> lts.
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Volumen de hervor: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.boilvolume %>lts.
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Duración del hervor: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.boilTime %>lts.
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Alcohol: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.alcohol %> %
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Densidad final: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.targetFG %>
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Densidad inicial: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.targetOG %>
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>PH inicial: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.initialPH %>
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>PH final: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.finalPH %>
                                                                </p>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div class="nr-information">
                                                        <h4>Método y tiempos</h4>
                                                        <ul class="pd-beer-attributes">
                                                            <li>
                                                                <h6>Macerado: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.mashTemp %>° -
                                                                     <%= recetaToEdit.mashTime %> min.
                                                                </p>
                                                            </li>
                                                            <li>
                                                                <h6>Fermentación: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.fermentationTemp %>°
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="nr-information">
                                                        <h4>Ingredientes</h4>
                                                        <ul class="pd-beer-attributes">
                                                            <li>
                                                                <h6>Maltas: </h6> </br>
                                                                <p>
                                                                    <%= recetaToEdit.malt1 %>: <%=
                                                                            recetaToEdit.malt1Amount %>
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.malt2 %>: <%=
                                                                            recetaToEdit.malt2Amount %>
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.malt3 %>: <%=
                                                                            recetaToEdit.malt3Amount %>
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.malt4 %>: <%=
                                                                            recetaToEdit.malt4Amount %>
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.malt5 %>: <%=
                                                                            recetaToEdit.malt5Amount %>
                                                                </p></br>
                                                            </li>
                                                            <li>
                                                                <h6>Lúpulo/s: </h6>
                                                                <p>
                                                                    <%= recetaToEdit.hop1 %>: <%=
                                                                            recetaToEdit.hop1Amount %> gr.
                                                                            <%= recetaToEdit.hop1Moment %>
                                                                                min.
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.hop2 %>: <%=
                                                                            recetaToEdit.hop2Amount %> gr.
                                                                            <%= recetaToEdit.hop2Moment %>
                                                                </p></br>
                                                                <p>
                                                                    <%= recetaToEdit.hop3 %>: <%=
                                                                            recetaToEdit.hop3Amount %> gr.
                                                                            <%= recetaToEdit.hop3Moment %>
                                                                </p></br>
                                                            </li>
                                                            <li>
                                                                <h6>Levadura: </h6> </br>
                                                                <p>
                                                                    <%= recetaToEdit.yeast %>
                                                                </p><br>
                                                                <p>
                                                                    <%= recetaToEdit.yeastAmount %> gr.
                                                                </p></br>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="nr-tip-container">
                                                    <div class="nr-tip">
                                                        <h4>Tip cervecero</h4>
                                                        <p>
                                                            <%= recetaToEdit.brewerTip %>
                                                        </p>
                                                    </div>
                                                    <div class="nr-tip">
                                                        <h4>Maridaje</h4>
                                                        <p>
                                                            <%= recetaToEdit.foodPairing %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>

                    </form>
            </div>
    <!-- Footer-->
    <%- include("../partials/footer") %>
</body>

</html>