<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

    
</head>

    <script>
        function display(id){  // (id)
            document.getElementById('receta-container' + id).style.display = "block";
            
        }
        function hide(id){   // (id)
            document.getElementById('receta-container' + id).style.display = "none";
        }
    </script>


    <body>
        <!-- Header-->
        <%- include("../partials/header") %>

        <div class="nr-main-containter">
            <div class="add-receta-container">
            <% if (locals.datos && datos.userLogged && datos.userLogged.users_roles_id == 2 ){ %>
                <button class="pd-admin"><a href="/recetas/nuevaReceta/">Agregar nueva receta</a></button>
            <%}%>
         </div>
           
            <% for (let i=0;i< datos.recetas.length;i++){%>
                <section class="nr-details-container">
                <div class="receta-name-container">
                    <h5 class="receta-name">
                        <%= datos.recetas[i].name %>
                    </h5>
                    <div class="nr-buton-container">
                    <button id="display-hide-btn<%= datos.recetas[i].id %>" onclick="display('<%= datos.recetas[i].id %>');" class="nr-display-btn">Desplegar  <i class="fas fa-chevron-down"></i></button>
                    <% if (datos.userLogged && datos.userLogged.users_roles_id == 2 ){ %>
                        <button class="pd-admin nr-edit"><a href="/recetas/recetasAdmin/<%= datos.recetas[i].id %>" class="pd-admin-a">Modificar receta</a></button>
                    <%}%>
                </div>
                </div>
                    
                            <div id="receta-container<%= datos.recetas[i].id %>" class="receta-container">
                        
                            <div class="nr-buton-container">                               
                                <button id="display-hide-btn<%= datos.recetas[i].id %>"  onclick="hide('<%= datos.recetas[i].id %>')" class="nr-display-btn">Ocultar  <i class="fas fa-chevron-up"></i></button>
                            </div>
                            <div class="nr-information-container">
                            <div class="nr-information-block">                               
                                <div class="nr-information">
                                    <h4>Básicos</h4>
                                    <ul class="nr-beer-attributes">
                                        <li>
                                            <h5>Volumen: </h5>
                                            <p>
                                                <%= datos.recetas[i].volume %> lts.
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Volumen de hervor: </h5>
                                            <p>
                                                <%= datos.recetas[i].boilvolume %>lts.
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Duración del hervor: </h5>
                                            <p>
                                                <%= datos.recetas[i].boilTime %>lts.
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Alcohol: </h5>
                                            <p>
                                                <%= datos.recetas[i].alcohol %> %
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Densidad final: </h5>
                                            <p>
                                                <%= datos.recetas[i].targetFG %>
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Densidad inicial: </h5>
                                            <p>
                                                <%= datos.recetas[i].targetOG %>
                                            </p>
                                        </li>
                                        <li>
                                            <h5>PH inicial: </h5>
                                            <p>
                                                <%= datos.recetas[i].initialPH %>
                                            </p>
                                        </li>
                                        <li>
                                            <h5>PH final: </h5>
                                            <p>
                                                <%= datos.recetas[i].finalPH %>
                                            </p>
                                        </li>

                                    </ul>
                                </div>

                                <div class="nr-information">
                                    <h4>Método y tiempos</h4>
                                    <ul class="nr-beer-attributes">
                                        <li class="nr-ingredients-list">
                                            <h5>Macerado: </h5>
                                            <p>
                                                <%= datos.recetas[i].mashTemp %>° - <%=
                                                        datos.recetas[i].mashTime %> min.
                                            </p>
                                        </li>
                                        <li>
                                            <h5>Fermentación: </h5>
                                            <p>
                                                <%= datos.recetas[i].fermentationTemp %>°
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="nr-information">
                                    <h4>Ingredientes</h4>
                                    <ul class="nr-beer-attributes">
                                        <li class="nr-ingredients-list">
                                            <h6>Maltas: </h6>
                                            <p>
                                                <%= datos.recetas[i].malt1 %>: <%=
                                                        datos.recetas[i].malt1Amount %>
                                            </p>
                                            
                                            <p style='display:<%= datos.recetas[i].malt2?'block':'none'%>'>
                                                <%= datos.recetas[i].malt2 %>: <%=
                                                        datos.recetas[i].malt2Amount %>
                                            </p>
                                            
                                            <p style='display:<%= datos.recetas[i].malt3?'block':'none'%>'>
                                                <%= datos.recetas[i].malt3 %>: <%=
                                                        datos.recetas[i].malt3Amount %>
                                            </p>
                                            
                                            <p style='display:<%= datos.recetas[i].malt4?'block':'none'%>'>
                                                <%= datos.recetas[i].malt4 %>: <%=
                                                        datos.recetas[i].malt4Amount %>
                                            </p>
                                            
                                            <p style='display:<%= datos.recetas[i].malt5?'block':'none'%>'>
                                                <%= datos.recetas[i].malt5 %>: <%=
                                                        datos.recetas[i].malt5Amount + 'xx' %>
                                            </p></br>
                                        </li>
                                        <li class="nr-ingredients-list">
                                            <h6>Lúpulo/s: </h6>
                                            <p>
                                                <%= datos.recetas[i].hop1 %>: <%=
                                                        datos.recetas[i].hop1Amount %> gr.
                                                        <%= datos.recetas[i].hop1Moment %>
                                                            
                                            </p>
                                            <p style='display:<%= datos.recetas[i].hop2?'block':'none'%>'>
                                                <%= datos.recetas[i].hop2 %>: <%=
                                                        datos.recetas[i].hop2Amount %> gr.
                                                        <%= datos.recetas[i].hop2Moment %>
                                            </p>
                                            <p style='display:<%= datos.recetas[i].hop3?'block':'none'%>'>
                                                <%= datos.recetas[i].hop3 %>: <%=
                                                        datos.recetas[i].hop3Amount %> gr.
                                                        <%= datos.recetas[i].hop3Moment %>
                                            </p></br>
                                        </li>
                                        <li class="nr-ingredients-list">
                                            <h6>Levadura: </h6> 
                                            <p>
                                                <%= datos.recetas[i].yeast %> - <%= datos.recetas[i].yeastAmount %> gr. por litro
                                            </p>
                                        </li>
                                    </ul>   
                                </div>
                            </div>
                            <div class="nr-tip-container">
                                <div class="nr-tip">
                                    <h4>Tip cervecero</h4>
                                    <p>
                                        <%= datos.recetas[i].brewerTip %>
                                    </p>
                                </div>
                                <div class="nr-tip">
                                    <h4>Maridaje</h4>
                                    <p>
                                        <%= datos.recetas[i].foodPairing %>
                                    </p>
                                </div>
                            </div>
                            </div>
                                
                            </div>
                </section>
            <%}%>

            <section class="nr-process-container">
                <div>
                    <h4>Nuestro proceso</h4>
                </div>
                
                <p>MACERADO</p>
                <p>
                    El grano malteado y molido se mezcla con agua caliente en un proceso
                    conocido como maceración. Al triturar parcialmente la malta antes de
                    remojarla, el agua caliente puede entrar en cada grano individual para
                    exponer los almidones naturales que contiene. Esto es lo que quiere el
                    cervecero, ya que estos almidones se convierten en azúcares por las
                    propias enzimas del grano. Son estos azúcares los que luego serán
                    utilizados por la levadura como fuente de alimento para producir alcohol
                    y dióxido de carbono.
                </p>

                <p>LAVADO</p>
                <p>
                    El siguiente paso es agregar más agua a la parte superior de la
                    cama de granos y se deja filtrar, llevando consigo el dulce líquido
                    azucarado.
                    Esta etapa se realiza en la olla de maceración original o en un
                    recipiente separado
                    de filtrado. Cualquiera de los dos necesitará una base perforada para
                    dejar escapar el líquido ya clarificado y así comenzar con el hervor del
                    mosto.
                </p>
                <p>HERVOR</p>
                <p>Luego, el mosto se transfiere a otro recipiente grande conocido como
                    hervidor y se calienta. El mosto hervirá aquí durante aproximadamente
                    una hora (dependiendo del estilo que cocinemos).
                    La etapa de ebullición también suele ser donde se agregan los lúpulos. A
                    menudo,
                    también agregamos lúpulo a la etapa de maduración para aumentar el
                    perfil de sabor, pero casi todas las cervezas están lupuladas durante la
                    ebullición. Al agregar lúpulo
                    antes, se obtiene más amargor. Las adiciones posteriores aportan aroma y
                    sabor.</p>
                <p>FERMENTACION</p>
                <p>Una vez hecho el hervor, el mosto se enfría y se transfiere
                    a un fermentador sanitizado y listo para inocular la levadura en el
                    mosto ya enfriado.
                    Este proceso durará unos días, hasta que la levadura metabolice las
                    azúcares obtenidas en la maceración. Una vez alcanzada la densidad final
                    enfriaremos la nuestra cerveza por aproximadamente 2 semanas más para
                    lograr una clarificación ideal.</p>
                <p>EMBALAJE</p>
                <p>
                    
                    Lo único que queda es llevarte la cerveza. En CHEC empaquetamos nuestra
                    cerveza artesanal en latas y barriles. También utilizamos botellas recicladas.
                    Ya que nuestra cerveza no posee conservantes ni está sometida al proceso
                    de pasteurización aconsejamos que estén almacenadas en frio para evitar que
                    se deteriore.
                </p>
            </section>

            </div>

    <!-- Footer-->
    <%- include("../partials/footer") %>
    </body>

</html>