<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

    <body>
        <!-- Header-->
        <%- include("../partials/header") %>
        
        <div class="nr-main-containter">
            <h3>Nueva receta</h3> <br>
            <form action="/recetas/nuevareceta" method="POST" id="formRecipes">

                <section class="ra-details-container">

                    <div class="ra-name">
                        <h5 class="receta-name">Nombre</h5>
                        <input 
                        type="text" 
                        name="name" 
                        id="name" 
                        class="" <%= locals.errors && errors.name ? 'is-invalid' : null %>
                        value="<%= locals.oldData ? oldData.name : null %>">
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>
                        <div class="text-danger" id="msgFront_name"> </div>
                       
                        
                    </div>
                    
                    <div class="ra-receta-container">

                        <div class="ra-information-container">
                            <div class="ra-information-block">
                                <div class="ra-information">
                                    <h4>Completá los datos básicos</h4>
                                    <ul class="ra-beer-attributes">
                                        <li>
                                            <h6>Volumen: </h6>
                                            
                                            <input type="text" name="volume" id="volume"> lts.
                                            <p class="text-danger" id="msgFront_volume"> </p>
                                        </li>
                                       
                                        <li>
                                            <h6>Volumen de hervor: </h6>
                                            <input type="text" name="boilvolume" id="boilvolume">lts.
                                            <p class="text-danger" id="msgFront_boilvolume"></p>
                                        </li>
                                        <li>
                                            <h6>Duración del hervor: </h6>
                                            <input type="text" name="boilTime" id="boilTime">lts.
                                            <p class="text-danger" id="msgFront_boilTime"></p>

                                        </li>
                                        <li>
                                            <h6>Alcohol: </h6>
                                            <input type="text" name="alcohol" id="alcohol"> %
                                            <p class="text-danger" id="msgFront_alcohol"></p>
                                        </li>
                                        <li>
                                            <h6>Densidad final: </h6>
                                            <input type="text" name="targetFG" id="targetFG">
                                            <p class="text-danger" id="msgFront_targetFG"></p>
                                        </li>
                                        <li>
                                            <h6>Densidad inicial: </h6>
                                            <input type="text" name="targetOG"  id="targetOG">
                                            <p class="text-danger" id="msgFront_targetOG"></p>
                                        </li>
                                        <li>
                                            <h6>PH inicial: </h6>
                                            <input type="text" name="initialPH" id="initialPH">
                                            <p class="text-danger" id="msgFront_initialPH"></p>
                                        </li>
                                        <li>
                                            <h6>PH final: </h6>                              
                                            <input type="text" name="finalPH" id="finalPH">
                                            <p class="text-danger" id="msgFront_finalPH"></p>
                                        </li>
                                    </ul>
                                </div><br>

                                <div class="ra-information">
                                    <h4>Completa los datos de método y tiempos</h4>
                                    <ul class="ra-information-attributes">
                                        <li class="ra-li-malt">
                                            <h6>Macerado </h6>

                                            <h6>Temperatura de maceración: </h6>
                                        <input type="text" name="mashTemp" id="mashTemp"> ° (grados celsius)
                                        <div class="text-danger" id="msgFront_mashTemp"> </div>

                                            <h6>Tiempo de maceración: </h6>
                                          <input type="text" name="mashTime" id="mashTime"> minutos
                                          <div class="text-danger" id="msgFront_mashTime"> </div>

                                        </li>
                                        <li class="ra-li-malt">
                                            <h6>Fermentación </h6>
                                            <h6>Temperatura de fermentación: </h6>
                                            <input type="text" name="fermentationTemp" id="fermentationTemp"> grados
                                            <div class="text-danger" id="msgFront_fermentationTemp"> </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="ra-information">
                                    <h4>Ingredientes</h4>
                                    <p>Completá solo los campos aplicables.</p><br>
                                    <ul class="ra-information-attributes">
                                        <li class="ra-li-malt">
                                            <h6>Maltas</h6>
                                            <h6>Malta principal: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><input type="text" name="malt1" id="malt1">
                                                    <div class="text-danger" id="msgFront_malt1"> </div>
                                                <p>Cantidad:</p><input type="text" name="malt1Amount" id="malt1Amount">
                                                    <div class="text-danger" id="msgFront_malt1Amount"> </div>
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><input type="text" name="malt2" id="malt2">
                                                    <div class="text-danger" id="msgFront_malt2"> </div>
                                                <p>Cantidad:</p><input type="text" name="malt2Amount" id="malt2Amount">
                                                <div class="text-danger" id="msgFront_malt2Amount"> </div>
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><input type="text" name="malt3" id="malt3">
                                                    <div class="text-danger" id="msgFront_malt3"> </div>
                                                <p>Cantidad:</p><input type="text" name="malt3Amount" id="malt3Amount">
                                                    <div class="text-danger" id="msgFront_malt3Amount"> </div>
                                                
                                            </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><input type="text" name="malt4" id="malt4">
                                                    <div class="text-danger" id="msgFront_malt4"> </div>
                                                    <p>Cantidad:</p><input type="text" name="malt4Amount" id="malt4Amount">
                                                    <div class="text-danger" id="msgFront_malt4Amount"> </div>
                                                </div>
                                            <h6>Malta adicional: </h6>
                                            <div>
                                                <p>Tipo de malta:</p><input type="text" name="malt5" id="malt5">
                                                    <div class="text-danger" id="msgFront_malt5"> </div>
                                                <p>Cantidad:</p><input type="text" name="malt5Amount" id="malt5Amount">
                                                    <div class="text-danger" id="msgFront_malt5Amount"> </div>
                                            </div>
                                        </li>
                                        <li class="ra-li-hop">
                                            <h6>Lúpulo/s: </h6>

                                            <h6>Lúpulo principal: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop1" id="hop1">
                                                <div class="text-danger" id="msgFront_hop1"> </div>
                                                <p>Cantidad: </p> <input type="text" name="hop1Amount" id="hop1Amount">
                                                <div class="text-danger" id="msgFront_hop1Amount"> </div>
                                                <p>Momento de adición:</p><input type="text" name="hop1Moment" id="hop1Moment">
                                                <div class="text-danger" id="msgFront_hop1Moment"> </div>
                                            </div>
                                            <h6>Lúpulo adicional: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop2" id="hop2">
                                                <div class="text-danger" id="msgFront_hop2"> </div>
                                                <p>Cantidad: </p> <input type="text" name="hop2Amount" id="hop2Amount">
                                                <div class="text-danger" id="msgFront_hop2Amount"> </div>
                                                <p>Momento de adición:</p><input type="text" name="hop2Moment" id="hop2Moment">
                                                <div class="text-danger" id="msgFront_hop2Moment"> </div>
                                            </div>
                                            <h6>Lúpulo adicional: </h6>
                                            <div>
                                                <p>Tipo de lúpulo:</p><input type="text" name="hop3" id="hop3">
                                                <div class="text-danger" id="msgFront_hop3"> </div>
                                                <p>Cantidad: </p> <input type="text" name="hop3Amount" id="hop3Amount">
                                                <div class="text-danger" id="msgFront_hop3Amount"> </div>
                                                <p>Momento de adición:</p><input type="text" name="hop3Moment" id="hop3Moment">
                                                <div class="text-danger" id="msgFront_hop3Moment"> </div>
                                            </div>
                                        </li>
                                        <li class="ra-li-malt">
                                            <h6>Levadura: </h6>
                                            <div>
                                                <p>Tipo de levadura:</p><input type="text" name="yeast" id="yeast">
                                                <div class="text-danger" id="msgFront_yeast"> </div>
                                                <p>Cantidad:</p><input type="text" name="yeastAmount" id="yeastAmount">
                                                <div class="text-danger" id="msgFront_yeastAmount"> </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ra-tip-container">
                                <div class="ra-tip">
                                    <h4>Tip cervecero</h4>
                                    <p>Redactá una recmendación <input type="text" name="brewerTip" id="brewerTip"></p>
                                    <div class="text-danger" id="msgFront_brewerTip"> </div>
                                </div>
                                <div class="ra-tip">
                                    <h4>Maridaje</h4>
                                    <p>¿Combina bien con qué comida/s?
                                        <input type="text" name="foodPairing" id="foodPairing">
                                        <div class="text-danger" id="msgFront_foodPairing"> </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="pd-admin" type="submit" >Guardar</button>
                        <div class="text-danger" id="msgFront_submit"> </div>
                        <button class="pd-admin ra-edit" type="reset"></a>Cancelar cambios</a></button>
                        <div class="text-danger" id="msgFront_submit"> </div>
                    </div>
                </section>
            </form>
        </div>

            <!-- Footer-->
            <%- include("../partials/footer") %>
            <script src="/js/recipesFront.js"></script>
    </body>

</html>