<!DOCTYPE html>
<html lang="en">

<!-- Head-->
<%- include("../partials/head") %>

<body>
    <!-- Header-->
    <%- include("../partials/header") %>
    <!-- <section id="formulario" > -->
        <form action="/sales/shoppingCart" method="POST">
            <main class="pc-main">
                <section class="pc-cart"> 
                        <div class="pc-product-group">
                            <div class="pc-product-cantidad">
                               

                                <div class="pd-tienda">
                                    <% for (i=0;i< products_Detail.length;i++){%>
                                        <article class="col-12 col-sm-6 col-lg-3 pd-product">
                                            <img class="pd-img-product" src="/images/<%= products_Detail[i].Product.image %>" width="100" alt="beer"> 
                                            <div class="pd-datos-cerveza">
                                                <h4><%= products_Detail[i].Product.name %></h4>
                                                <h4> Cantidad: <input type="number" value="<%= products_Detail[i].quantity %>" class=""> </h4>
                                                <h4>$ <%= products_Detail[i].Product.price %></h4>
                                            </div>
                                        </article>
                                    <%}%>
                               </div>

                               
    

                                    <div class="pc-direccionEnvio">
                                        <div class="pc-direccionEnvio-detalle">
                                            <label class="pc-direccionEnvio-detalle-texto" >Dirección envío</label> 
                                            <label class="pc-direccionEnvio-detalle-texto" >Código Postal</label> 
                                        </div>
                                        <div class="pc-direccionEnvio-valor">
                                            <input type="text" class="pc-DireccionEnvio-Titulo-caja-texto" name="quantity"
                                                value="Julio A. Roca 1826" title="Cantidad" placeholder="" inputmode="text">
                                            <input type="text" class="pc-DireccionEnvio-Titulo-caja-texto" name="quantity"
                                                value="B6237" title="Cantidad" placeholder="" inputmode="text">
                                        </div>
                                    
                                    </div>

                                    <div class="pc-options">
                                        <button class="pc-options-button lg-button" >Calcular</button>
                                    </div>   
                                    <div class="pc-direccionEnvio">
                                        <div class="pc-direccionEnvio-detalle">
                                            <label class="pc-direccionEnvio-detalle-texto" >Descuento</label> 
                                        </div>
                                        <div class="pc-direccionEnvio-valor">
                                            <input type="text" class="pc-DireccionEnvio-Titulo-caja-texto" name="discount"
                                                value="100" title="Cantidad" placeholder="" inputmode="text">
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="pc-options">
                                        <button class="pc-options-button lg-button" >Calcular</button>
                                    </div>   
                                    
                            </div>

                        </div>

                    

                        <div class="pc-ResumenCompra">
                            <div class="pc-ResumenCompra-Titulo">
                                <label class="pc-quantity-label-det" >Resumen de Compra</label>
                            </div>
                            <div class="pc-ResumenCompra-Subtotal">
                                <div class="pc-ResumenCompra-Subtotal-texto">
                                    <div class="pc-ResumenCompra-detalle">
                                        <label name="subtotal" class="pc-ResumenCompra-detalle-texto" >Subtotal</label> 
                                    </div>
                                    <div  class="pc-ResumenCompra-detalle">
                                        <label name="descuento" class="pc-ResumenCompra-detalle-texto" required>Descuento</label> 
                                    </div>
                                    <div class="pc-ResumenCompra-detalle">
                                        <label  name="envio"  class="pc-ResumenCompra-detalle-texto" >Envío</label> 
                                    </div>
                                    <div   class="pc-ResumenCompra-detalle">
                                        <label name="total" class="pc-ResumenCompra-detalle-texto" >Total</label> 
                                    </div>
                                    
                                </div>

                                <div class="pc-ResumenCompra-Subtotal-valores">
                                    <div class="pc-counter-ResumenCompra">
                                        <label class=".pc-counter-label-det-label2" >ARS</label>
                                        <input type="text" class="pc-counter-label-det-valor" name="subtotal" value="900" title="subtotal" placeholder="" readonly="readonly">
                                    </div>
                                    <div class="pc-counter-ResumenCompra">
                                        <label class=".pc-counter-label-det-label2" >ARS</label>
                                        <input type="text" class="pc-counter-label-det-valor" name="totalDiscount" value="100" title="totalDiscount" placeholder="" readonly="readonly">
                                    </div>
                                    <div class="pc-counter-ResumenCompra">
                                        <label class=".pc-counter-label-det-label2" >ARS</label>
                                        <input type="text" class="pc-counter-label-det-valor" name="totalShipping" value="250" title="totalShipping" placeholder="" readonly="readonly">
                                    </div>
                                    <div class="pc-counter-ResumenCompra">
                                        <label class=".pc-counter-label-det-label2" >ARS</label>
                                        <input type="text" class="pc-counter-label-det-valor" name="total" value="1250" title="total" placeholder="" readonly="readonly">
                                    </div>
                                        
                                    
                                    <!-- <input type="text" class="pc-ResumenCompra-Titulo-caja-texto" name="quantity"
                                                value="ARS 1050" title="Cantidad" placeholder="" inputmode="text"> -->
                                </div>  
                                
                            </div>
                            <div class="pc-ResumenCompra-Subtotal"></div>
                            <div class="pc-options">
                                <button class="pc-options-button lg-button" type="submit">Finalizar Compra</button>
                            </div> 
                            </div>     
                        </div>
                    </div>
                </section>
            </main>
            <!-- Footer-->
            <%- include("../partials/footer") %>
        </form>
    <!-- </section> -->
</body>

</html>